{% extends '/common/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Changer mot de passe
{% endblock %}

{% block content %}

    <h2>Changer mot de passe</h2>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card card-table">
                <div class="card-body">
                    {{ form_start(form, { 'attr': {'autocomplete': 'off'} }) }}
                        {{ form_rest(form) }}
                        <a href="{{ path('parameters') }}" class="btn btn-outline-secondary"><i class="fas fa-reply-all"></i> Retour à la liste</a>
                        <button type="submit" class="btn btn-success"><i class="far fa-save"></i> Sauvegarder</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}